body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}
.color-bg-nav {
    background-color: #229ca7;
}
.size-img-nav {
    width: 50px;
}
.color-celeste {
    background-color: #0dcaf0;
}
.border-suaves {
    border-radius: 5px;
}
.size-30 {
    font-size: 30px;
}
.size-25{
    font-size: 25px;
}
.margen-costados {
    margin-left: 10% !important;
    margin-right: 10% !important;
}
.padding-costados {
    padding-left: 10% !important;
    padding-right: 10% !important;
}
.tooltip-inner {
    color: black;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
}
.tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-right-color: #ffffff !important;
}
.tooltip.bs-tooltip-left .tooltip-arrow::before {
    border-left-color: #ffffff !important;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #ffffff !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #ffffff !important;
}
