body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}
.color-bg-nav {
    background-color: #229ca7;
}
.size-img-nav {
    width: 50px;
}
.color-celeste {
    background-color: #0dcaf0;
}
.border-suaves {
    border-radius: 5px;
}
.size-30 {
    font-size: 30px;
}
.size-25{
    font-size: 25px;
}
.margen-costados {
    margin-left: 10% !important;
    margin-right: 10% !important;
}
.padding-costados {
    padding-left: 10% !important;
    padding-right: 10% !important;
}